@using CostCalculation.ViewModels;

@model List<ExchangeCalculateViewModel>


<!DOCTYPE html>



<html>
<head>
    <title>Pallet Calculate Results</title>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <div class="container-fluid">
        <h1>Döviz Bazlı Maliyetler</h1>
        <div class="table-responsive table-container" style="width: 100%">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Açıklama</th>
                        <th>FOB Euro Kg</th>
                        <th>FOB Euro Kasa</th>
                        <th>Kasa Nakliyet Bedeli</th>
                        <th>Kg Nakliyet Bedeli</th>
                        <th>Kg Euro CPT</th>
                        <th>Kasa Euro CPT</th>
                        <th>Paket Euro CPT</th>
                        <th>Tutar Euro FOB</th>
                        <th>Tutar Euro CPT</th>
                        <th>Euro Kuru</th>
                        <th>Navlun</th>
                        <th>Büyük Palet Navlun</th>
                        <th>Küçük Palet Navlun</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none;">@item.ProductId</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.FOBEuroKg</td>
                            <td>@item.FOBEuroKasa</td>
                            <td>@item.KasaNakliyeBedeli</td>
                            <td>@item.KgNakliyeBedeli</td>
                            <td>@item.KgEuroCPT</td>
                            <td>@item.KasaEuroCPT</td>
                            <td>@item.PaketEuroCPT</td>
                            <td>@item.TutarEuroFOB</td>
                            <td>@item.TutarEuroCPT</td>
                            <td>@item.EuroKur</td>
                            <td>@item.Navlun</td>
                            <td>@item.BPalNavlun</td>
                            <td>@item.KPalNavlun</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>





<script src="~/js/ProductJS.js"></script>