@using CostCalculation.ViewModel;

@model List<ExchangeCalculateViewModel>


<!DOCTYPE html>

@* @{
    ViewData["Title"] = "ExchangeCalculateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@

<html>
<head>
    <title>Pallet Calculate Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 90%; /* Tabloyu ekranın %90'ına yerleştir */
            margin-right: 50px; /* Tabloyu yatayda merkezlemek için */
        }


        th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        button {
            background-color: #008CBA;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

            button:hover {
                background-color: #00587a;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>Döviz Bazlı Maliyetler</h1>
        <div class="table-responsive" style="width: 100%">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Açıklama</th>
                        <th>FOB Euro Kg</th>
                        <th>FOB Euro Kasa</th>
                        <th>Kasa Nakliyet Bedeli</th>
                        <th>Kg Nakliyet Bedeli</th>
                        <th>Kg Euro CPT</th>
                        <th>Kasa Euro CPT</th>
                        <th>Paket Euro CPT</th>
                        <th>Tutar Euro FOB</th>
                        <th>Tutar Euro CPT</th>
                        <th>Euro Kuru</th>
                        <th>Navlun</th>
                        <th>Büyük Palet Navlun</th>
                        <th>Küçük Palet Navlun</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none;">@item.ProductId</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.FOBEuroKg</td>
                            <td>@item.FOBEuroKasa</td>
                            <td>@item.KasaNakliyeBedeli</td>
                            <td>@item.KgNakliyeBedeli</td>
                            <td>@item.KgEuroCPT</td>
                            <td>@item.KasaEuroCPT</td>
                            <td>@item.PaketEuroCPT</td>
                            <td>@item.TutarEuroFOB</td>
                            <td>@item.TutarEuroCPT</td>
                            <td>@item.EuroKur</td>
                            <td>@item.Navlun</td>
                            <td>@item.BPalNavlun</td>
                            <td>@item.KPalNavlun</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>





<script src="~/js/ProductJS.js"></script>