@using CostCalculation.ViewModels;

@model List<PalletCalculateViewModel>


<!DOCTYPE html>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-2">
            <button class="btn btn-primary" style="font-family: Arial, sans-serif; font-size: 16px;" id="getCurrency" onclick="GetAndStoreCurrencyData()">Güncel Döviz Kuru</button>
        </div>
        <div class="col-md-6">
            <div class="card" style="border: none;">
                <div class="card-body" style="font-family: Arial, sans-serif; font-size: 16px;" id="currencyInfo">
                </div>
            </div>
        </div>
    </div>
</div>

<html>
<head>
    <title>Pallet Calculate Results</title>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <div class="container-fluid">
        <h1>Palet Bazlı Hesaplama Sonuçları</h1>
        <div class="table-responsive table-container" style="width: 100%">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Açıklama</th>
                        <th>Fiyat</th>
                        <th>Çıkma Oranı</th>
                        <th>Son Güncelleme Tarihi</th>
                        <th>Kasa Sayısı</th>
                        <th>Brüt Kg</th>
                        <th>Palet Brüt Kg</th>
                        <th>Net Kg</th>
                        <th>Ürün Tutarı</th>
                        <th>ikinci Kalite Fiyatı %30</th>
                        <th>İkinci Kalite Zararı</th>
                        <th>Ambalaj Maliyeti Toplam</th>
                        <th>İşçilik Toplam</th>
                        <th>Stopaj Tutarı</th>
                        <th>Toplam Maliyet</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display: none;">@item.ProductId</td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.Price</td>
                            <td>@item.OutRate</td>
                            <td>@item.UpdateDate</td>
                            <td>@item.NumberOfBox</td>
                            <td>@item.BrütKg</td>
                            <td>@item.PaletBrütKg</td>
                            <td>@item.NetKg</td>
                            <td>@item.ProductPrice</td>
                            <td>@item.SecondQualityPrice</td>
                            <td>@item.SecondQualityCost</td>
                            <td>@item.PackagingPriceTotal</td>
                            <td>@item.LaborCost</td>
                            <td>@item.StoppagejCost</td>
                            <td>@item.TotalCost</td>
                            <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#UpdateProductPricesModal" onclick="GetProductPrice(@item.ProductId)">Güncelle</button></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>

@* UpdateProductPricesModal *@

<div class="modal" id="UpdateProductPricesModal" tabindex="-1" role="dialog" aria-labelledby="UpdateProductPricesModalLabel" data-bs-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Fiyatı ve Çıkma Oranı Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <input style="display:none" id="UpdateProductPriceProductId" />
                            <div style="margin:10px">
                                <div class="col-md-5">
                                    <label class="form-label">Ürün Adı</label>
                                    <input type="text" id="UpdateProductPriceProductName" class="form-control is-invalid" required readonly>
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label">Ürün acıklaması</label>
                                    <input type="text" id="UpdateProductPriceDescription" class="form-control is-invalid" required readonly>
                                </div>
                            </div>
                            <div style="margin:10px">
                                <div class="col-md-5">
                                    <label class="form-label">Ücret</label>
                                    <input type="number" id="UpdateProductPricePrice" class="form-control is-invalid" min="0" required step="0.01" />
                                </div>
                                <div class="col-md-5">
                                    <label class="form-label">Çıkma Oranı</label>
                                    <input type="number" id="UpdateProductPriceOutRate" class="form-control is-invalid" min="0" required step="0.01" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-secondary" style="margin:10px;" data-bs-dismiss="modal">Vazgeç</button>
                        <button class="btn btn-primary" id="btnSave" onclick="UpdateProductPrices()" type="submit">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ProductJS.js"></script>