@{
    ViewData["Title"] = "Index";
}
@model List<AdminModel.RoleViewModel>




<div class="row">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="container mt-4">
        <div class="row align-items-start">
            <div class="col-md-8">
                <div style="display: flex; justify-content: space-between;">
                    <h3>Roller</h3>
                    <a type="button" class="btn btn-outline-danger" asp-controller="Role" asp-action="CreateRole" asp-area="Admin">Rol Ekle</a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Rol Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" asp-area="Admin" asp-controller="Role" asp-action="UpdateRole" asp-route-id="@item.Id">Rol Güncelle</a>
                                        <a class="btn btn-secondary btn-sm my-1" asp-area="Admin" asp-controller="Role" asp-action="DeleteRole" asp-route-id="@item.Id">Rol Sil</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2">Rol Bulunamadı.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>